<div class="area">
   <nav class="main-menu">
       <ul>
           <li>
               <a [routerLink]="['/admin-home']">
                   <i class="fa fa-home fa-2x"></i>
                   <span class="nav-text">
                       HOME
                   </span>
               </a>
           
           </li>
           <li>
               <a [routerLink]="['/admin-fornecedor']">
                   <i class="fa fa-bar-chart-o fa-2x"></i>
                   <span class="nav-text">
                       FORNECEDORES
                   </span>
               </a>
           </li>
           <li>
               <a [routerLink]="['/admin-produto']">
                   <i class="fa fa-bar-chart-o fa-2x"></i>
                   <span class="nav-text">
                       PRODUTOS
                   </span>
               </a>
           </li>
           <li>
               <a [routerLink]="['/admin-categoria']">
                   <i class="fa fa-bar-chart-o fa-2x"></i>
                   <span class="nav-text">
                       CATEGORIAS
                   </span>
               </a>
           </li>
           <li>
               <a [routerLink]="['/admin-conta']">
                   <i class="fa fa-bar-chart-o fa-2x"></i>
                   <span class="nav-text">
                       CONTAS
                   </span>
               </a>
           </li>
           <li>
               <a [routerLink]="['/admin_vendas']">
                   <i class="fa fa-bar-chart-o fa-2x"></i>
                   <span class="nav-text">
                       VENDAS
                   </span>
               </a>
           </li>
       </ul>

       <ul class="logout">
           <li>
               <button  style="border: none;cursor: pointer;background-color: #212121;">
                   <i class="fa fa-power-off fa-2x"></i>
                   <span class="nav-text">
                       Logout
                   </span>
               </button>
           </li>  
       </ul>
   </nav>
</div><!--(click)="logout()"-->