<div class="row" style="padding: 0 5px 0 66px;margin-top: 15px;">
    
  <div id="card-styles" class="col-12"> 
    <div class="card gr-1">
      <div class="txt">
        <h1>BRANDING AND <br />CORPORATE DESIGN</h1>
        <p>Visual communication and problem-solving</p>
      </div>
      <a href="#">more</a>
    </div>

    <div class="card gr-1">
      <div class="txt">
        <h1>BRANDING AND <br />CORPORATE DESIGN</h1>
        <p>Visual communication and problem-solving</p>
      </div>
      <a href="#">more</a>
    </div>

    <div class="card gr-1">
      <div class="txt">
        <h1>BRANDING AND <br />CORPORATE DESIGN</h1>
        <p>Visual communication and problem-solving</p>
      </div>
      <a href="#">more</a>
    </div>
  </div>
</div>


<div style="margin-top: 50px;justify-content: center;" class="row">
  <h2 style="margin: 0 0 0 62px;">TOP 10 Ultimos Vendidos</h2>
</div>
<div class="container-fluid table-responsive" style="padding: 0 5px 0 65px!important;">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">nome produto</th>
        <th scope="col">data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th id="id_corte" scope="row">asdasdasdasd</th>
        <td id="id_corte">avavsdvadva</td>
      </tr>
    </tbody>
  </table>
</div>
