
/* Resets */
*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}

body,
html, #root {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

/* Main styles */
body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #CECECE;
	background: #2A2B30;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
--primary: #fff;
--black: #000;
--secondary: #15181C;
--search: #202327;
--white-o: #D9D9D9;
--gray: #7A7A7A;
--outline: #2F3336;
--retweet: #00C06B;
--like: #E8265E;
--twitter: #33A1F2;
--twitter-dark-hover: #011017;
--twitter-light-hover: #2C8ED6;
}