<!-- Compare basket -->
<div class="compare-basket">
  <button class="action action--button action--compare"><i class="fa fa-check"></i><span class="action__text">Compare</span></button>
</div>
<!-- Main view -->
<div class="view">
  <!-- Blueprint header -->
  <header class="bp-header cf">
    <span>Le Vinho <span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
    <h1>Vinhos Especiais &amp; Petiscos</h1>
  </header>
  <!-- Product grid -->
  <section class="grid">
    <!-- Products -->
    <div class="product">
      <div class="product__info">
        <img class="product__image" src="../../assets/images/1.png" alt="Product 1" />
        <h3 class="product__title">Chryseia</h3>
        <span class="product__year extra highlight">2011</span>
        <span class="product__region extra highlight">Douro</span>
        <span class="product__varietal extra highlight">Touriga Nacional</span>
        <span class="product__alcohol extra highlight">13%</span>
        <span class="product__price highlight">$55.90</span>
        <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
      </div>
      <label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
    </div>
    <div class="product">
      <div class="product__info">
        <img class="product__image" src="../../assets/images/1.png" alt="Product 1" />
        <h3 class="product__title">Chryseia</h3>
        <span class="product__year extra highlight">2011</span>
        <span class="product__region extra highlight">Douro</span>
        <span class="product__varietal extra highlight">Touriga Nacional</span>
        <span class="product__alcohol extra highlight">13%</span>
        <span class="product__price highlight">$55.90</span>
        <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
      </div>
      <label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
    </div>
    <div class="product">
      <div class="product__info">
        <img class="product__image" src="../../assets/images/1.png" alt="Product 1" />
        <h3 class="product__title">Chryseia</h3>
        <span class="product__year extra highlight">2011</span>
        <span class="product__region extra highlight">Douro</span>
        <span class="product__varietal extra highlight">Touriga Nacional</span>
        <span class="product__alcohol extra highlight">13%</span>
        <span class="product__price highlight">$55.90</span>
        <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
      </div>
      <label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
    </div>
  </section>
</div><!-- /view -->
<!-- product compare wrapper -->
<section class="compare">
  <button class="action action--close"><i class="fa fa-remove"></i><span class="action__text action__text--invisible">Close comparison overlay</span></button>
</section>